@use '../custom' as *;

// Absolute Center
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Transitions
@mixin transitions {
  transition-duration: 1000ms;
  transition-property: all;
}
